<head>
    <title>Create a new account</title>
</head>

<body>
    <h1>Create a new account</h1>
    <span style="color: red">{show errorMessage}</span>
    Enter your information here:
    <form action="user/create" method="POST">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="user" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Create account!" style="width: 100%" /></td>
            </tr>
        </table>
    </form>
</body>