<head>
</head>

<body>
    <h1>Message board</h1>
    <span style="color: red">{show errorMessage}</span> <b>Send a new message:</b><br />
    <form action="message/send" method="POST">
        Recipient: <input type="text" name="recipient" /><br />
        Text:<br />
        <textarea name="text"></textarea>
        <input type="submit" name="Send" />
    </form>
    <b>New messages:</b><br />
    {forall newMessages}
        {show a message}
    {/forall}
    <b>Old messages:</b><br />
    {forall oldMessages}
        {show a message}
    {/forall}
</body>

<template name="message">
    <b>{show sender}</b> said to <b>{show recipient}</b>, {show formattedSent}:<br />
    {show text}
    <hr />
</template>